@import "compass";

// added mixins
@import "sprites";

$main-color: #000;
$theme-color: #339966;
$gray-one: #d1d4d3;
$gray-two: #d6d6d6;

$border-dark: #666666;
$border-soft: #a6acab;
$border-light: #deebe7;


$default-text-shadow-color: rgba(21, 76, 49, 1);
$default-text-shadow-blur: 0;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-h-offset: 2px;

body {
	margin: 0;
	font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $main-color;
	font-size: 12px;
}
img {
	display: block;
	max-width: 100%;
}
a {
	color: $main-color;
	text-decoration: none;
}
h3 {
	font-size: 16px;
}
.inblock {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.valign {
	vertical-align: middle;
}
.hide-table {
	display: none;
}
.red-text {
	color: #cc0000;
}
.green-text-block {
	font-size: 16px;
	color: $theme-color;
	margin: 50px 0;
}
.black-text-block {
	font-size: 16px;
	color: $main-color;
	margin: 50px 0;
	p {
		margin: 2px 0;
	}
}
.cover-image.bg1 {
	background-image: url('../images/flower.png');
	background-repeat: no-repeat;
	background-position: 96% 81%;
}

.fleft {float: left;}
.fright {float: right;}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {zoom:1;}

.transit {
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in-out);
}

.container {
	position: relative;
	width: 950px;
	margin: 0 auto;
}

#page-header {
	min-height: 200px;
	.fast-contact {
		font-family: Arial, Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.2;
		small {
			font-size: 70%;
		}
	}
	.fast-contact {
		margin: 22px 0 0 0;
	}
	.viola-logo {
		margin: 41px 0 0 0;
	}
}

#main-content {
	background-image: url('../images/bg.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}
.page-navigation ul li {
	@extend .inblock;
}
.page-navigation {
	margin: 97px 0 0 0;
	ul {
		li {
			&:first-child {
				a {
					border:0;
				}
			}
			a {
				border-left: 1px solid #8c8c8c;
				font-size: 12px;
				padding: 7px 14px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.main-header {
	background-color: $theme-color;
	font-family: Arial, Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	@include single-text-shadow;
	color: #FFF;
	text-transform: uppercase;
	padding: 34px 0;
	h1 {
		margin: 0;
		padding: 0 28px;
	}
	&.center {
		text-align: center;
	}
}
.banner-section {
	img {
		box-sizing: border-box;
		border: 1px solid $border-dark;
		display: block;
	}
	.banner-caption {
		position: relative;
		background-color: $theme-color;
		padding: 30px 0;
		font-family: Calibri, Arial, Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 14px;
		font-style: italic;
		line-height: 1.5;
		text-align: center;
		color: #FFF;
		.signature {
			position: absolute;
			display: block;
			font-size: 12px;
			line-height: 1.2;
			right: 90px;
			bottom: 13px;
			text-align: center;
		}
	}
}
.offer-section figure {
	@extend .inblock;
	
}
.standard-bg {
	background-color: #FFF;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.5);
	border-left: 1px solid $border-light;
	border-right: 1px solid $border-light;
}
.offer-section {
	box-sizing: border-box;
	text-align: center;
	figure {
		img, figcaption {
			display: block;
		}
		margin: 35px 24px;
		figcaption {
			margin: 35px 0 0 0;
			text-transform: uppercase;
		}
	}
	.middle {
		margin: 35px 38px;
	}
}
.partners-section {
	background-color: #FFF;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-left: 1px solid $border-light;
	border-right: 1px solid $border-light;
	ul {
		padding: 40px 0;
		margin: 0;
		text-align: center;
		li {
			@extend .inblock;
			vertical-align: middle;
			margin: 0 3px;
		}

	}
	.ico.logo-1:hover {
		background-position: -1px -177px;
	}
	.ico.logo-2:hover {
		background-position: -3px -350px;
	}
	.ico.logo-3:hover {
		background-position: 0 -530px;
	}
	.ico.logo-4:hover {
		background-position: 0 -704px;
	}
	.ico.logo-5:hover {
		background-position: 0 -864px;
	}
}
.accordion-section {
	padding: 40px;
	position: relative;
	header.name-block {
		min-height: 180px;
		h1 {
			padding: 20px 0 0 0;
			font-weight: 400;
			font-size: 15px;
		}
	}
	h2 {
		position: relative;
		margin: 0;
		padding: 10px 0;
		font-size: 15px;
		z-index: 10;
	}
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		li {
			margin: 7px 23px;
			color: $theme-color;
			a {
				font-size: 14px;
				color: $main-color;
			}
		}
	}
	&.green-arrow {
		h2:after {
			position: absolute;
			width: 14px;
			height: 12px;
			top: 50%;
			left: -22px;
			margin-top: -6px;
			content: "";
			background: url('../images/icons/arrow-right-green.png') no-repeat 0 0;
		}
	}
	&.black-arrow {
		h2 {
			font-weight: 400;
			&:after {
				position: absolute;
				width: 18px;
				height: 12px;
				top: 50%;
				left: -26px;
				margin-top: -6px;
				content: "";
				background: url('../images/icons/arrow-right-black.png') no-repeat 0 0;
			}
		}
		li {
			color: $main-color;
		}
	}

}
.popup-container {
	position: absolute;
	top: 50px;
	right: 20px;
	z-index:100;
	background-color: #FFF;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	width: 480px; /*540*/
	min-height: 360px; /*420*/
	padding: 30px;
	border: 1px solid $border-soft;
	@include box-shadow($border-dark -3px 3px 12px -2px);
	.close-popup {
		display:block;
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 14px;
		cursor: pointer;
	}
	.popup-img {
		width: 170px;
		height: 170px;
		margin: 5px;
	}
	h1 {
		font-size: 16px;
		margin: 5px 0 10px;
	}
	h3 {
		margin: 0 0 10px 0;
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
	ul {
		li {
			color: #000;
			font-size: 11px;
			margin: 7px 5px 7px 40px;
			padding: 0 0 0 4px;
		}
	}
}
.img-container {
	position: absolute;
	top: 50px;
	right: 20px;
	z-index:100;
	background-color: #FFF;
	box-sizing: border-box;
	width: 455px;
	min-height: 100px; 
	padding: 0;
	border: 1px solid $border-soft;
}
.gallery-block .img-item {
	@extend .inblock;
}
.gallery-block {
	text-align: center;
	.img-item {
		position: relative;
		margin: 25px;
		height: 300px;
		width: 290px;
		&:hover {
			opacity:0.9;
		}
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			width: 100%;
			height: 100%;
			@include box-shadow(inset black 0 0 3px 3px);
		}
		a {
			img {
				
				display:block;
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;

			}
		}
	}
}
.accordion-section-prize {
	margin: 20px 0;
	table {
		border-collapse: collapse;
		background-color: #339966;
		width: 100%;
		td,th {
			width: 50%;
			padding: 4px 4px 4px 40px;
			color: #000;
		}
		thead {
			tr {
				border-bottom:1px solid #99ccb3;
				font-weight: 700;
				th {
					padding: 4px 4px 4px 20px;
					color: #FFF;
					text-align: left;
				}
			}
		}
		tbody {
			tr {
				&:nth-child(2n-1) {
					background-color: #cafbcd;
				}
				&:nth-child(2n) {
					background-color: #dafade;
				}
			}
		}

	}
}
.contact-section {
	padding: 40px;
	.left-side, .right-side {
		width: 50%;
	}
	.left-side {
		float: left;
	}
	.right-side {
		float: right;
	}
	.contact-box {
		padding: 20px 0;
		h3 {
			margin:0 0 15px 0;
			padding:0;
		}
		font-size: 14px;
		strong {
			font-size: 120%;
		}
	}
}
.adress-section {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 60px;
	article {
		@extend .inblock;
		margin-left: 2%;
		width: 30%;
		text-align: left;
		vertical-align: top;
		header {
			position: relative;
			strong {
				padding: 0 0 0 50px;
			}
			.ico {
				position: absolute;
				left: 0;
				top: 50%;
			}
			.home {
				margin-top: -17px;
			}
			.phone {
				margin-top: -18px;
			}
			.mail {
				margin-top: -12px;
			}
			
		}
		section {
			padding: 0 0 0 50px;
		}
	}
}
#page-footer {
	.footer-content {
		background-color: $gray-two;
		border: 1px solid $border-soft;
		box-sizing: border-box;
		padding: 5px 39px 10px 39px;
		span, ul, li {
			@extend .inblock;
		}
		ul {
			padding: 0;
			li {
				&:first-child {
					a {
						border:0;
					}
				}
				a {
					border-left: 1px solid #8c8c8c;
					font-size: 12px;
					padding: 2px 10px;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}