/* SPRITE CLASS GENERATOR :) */
.ico {
  background: url('../images/icons-s0de10bf2cb.png');
  margin: 0 4px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.arrow-bottom-white {
  background-position: 0 0;
  height: 6px;
  width: 6px;
}

.arrow-right-black {
  background-position: 0 -6px;
  height: 12px;
  width: 18px;
}

.arrow-right-green {
  background-position: 0 -18px;
  height: 12px;
  width: 14px;
}

.home {
  background-position: 0 -30px;
  height: 34px;
  width: 37px;
}

.logo-1 {
  background-position: 0 -64px;
  height: 114px;
  width: 114px;
}

.logo-1_hover {
  background-position: 0 -178px;
  height: 115px;
  width: 116px;
}

.logo-2 {
  background-position: 0 -293px;
  height: 57px;
  width: 175px;
}

.logo-2_hover {
  background-position: 0 -350px;
  height: 58px;
  width: 177px;
}

.logo-3 {
  background-position: 0 -408px;
  height: 127px;
  width: 129px;
}

.logo-3_hover {
  background-position: 0 -535px;
  height: 122px;
  width: 124px;
}

.logo-4 {
  background-position: 0 -657px;
  height: 47px;
  width: 240px;
}

.logo-4_hover {
  background-position: 0 -704px;
  height: 45px;
  width: 235px;
}

.logo-5 {
  background-position: 0 -749px;
  height: 115px;
  width: 170px;
}

.logo-5_hover {
  background-position: 0 -864px;
  height: 116px;
  width: 172px;
}

.mail {
  background-position: 0 -980px;
  height: 24px;
  width: 36px;
}

.phone {
  background-position: 0 -1004px;
  height: 36px;
  width: 36px;
}

.viola-logo {
  background-position: 0 -1040px;
  height: 114px;
  width: 298px;
}

/* SPRITE CLASS GENERATOR - END :) */
body {
  margin: 0;
  font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 12px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

h3 {
  font-size: 16px;
}

.inblock, .page-navigation ul li, .offer-section figure, .partners-section ul li, .gallery-block .img-item, .adress-section article, #page-footer .footer-content span, #page-footer .footer-content ul, #page-footer .footer-content li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.valign {
  vertical-align: middle;
}

.hide-table {
  display: none;
}

.red-text {
  color: #cc0000;
}

.green-text-block {
  font-size: 16px;
  color: #339966;
  margin: 50px 0;
}

.black-text-block {
  font-size: 16px;
  color: #000;
  margin: 50px 0;
}
.black-text-block p {
  margin: 2px 0;
}

.cover-image.bg1 {
  background-image: url("../images/flower.png");
  background-repeat: no-repeat;
  background-position: 96% 81%;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}

.transit {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.container {
  position: relative;
  width: 950px;
  margin: 0 auto;
}

#page-header {
  min-height: 200px;
}
#page-header .fast-contact {
  font-family: Arial, Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
#page-header .fast-contact small {
  font-size: 70%;
}
#page-header .fast-contact {
  margin: 22px 0 0 0;
}
#page-header .viola-logo {
  margin: 41px 0 0 0;
}

#main-content {
  background-image: url("../images/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.page-navigation {
  margin: 97px 0 0 0;
}
.page-navigation ul li:first-child a {
  border: 0;
}
.page-navigation ul li a {
  border-left: 1px solid #8c8c8c;
  font-size: 12px;
  padding: 7px 14px;
}
.page-navigation ul li a:hover {
  text-decoration: underline;
}

.main-header {
  background-color: #339966;
  font-family: Arial, Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 2px 2px 0 #154c31;
  color: #FFF;
  text-transform: uppercase;
  padding: 34px 0;
}
.main-header h1 {
  margin: 0;
  padding: 0 28px;
}
.main-header.center {
  text-align: center;
}

.banner-section img {
  box-sizing: border-box;
  border: 1px solid #666666;
  display: block;
}
.banner-section .banner-caption {
  position: relative;
  background-color: #339966;
  padding: 30px 0;
  font-family: Calibri, Arial, Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  color: #FFF;
}
.banner-section .banner-caption .signature {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 1.2;
  right: 90px;
  bottom: 13px;
  text-align: center;
}

.standard-bg {
  background-color: #FFF;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 1px solid #deebe7;
  border-right: 1px solid #deebe7;
}

.offer-section {
  box-sizing: border-box;
  text-align: center;
}
.offer-section figure {
  margin: 35px 24px;
}
.offer-section figure img, .offer-section figure figcaption {
  display: block;
}
.offer-section figure figcaption {
  margin: 35px 0 0 0;
  text-transform: uppercase;
}
.offer-section .middle {
  margin: 35px 38px;
}

.partners-section {
  background-color: #FFF;
  background-color: white;
  background-color: white;
  box-sizing: border-box;
  border-left: 1px solid #deebe7;
  border-right: 1px solid #deebe7;
}
.partners-section ul {
  padding: 40px 0;
  margin: 0;
  text-align: center;
}
.partners-section ul li {
  vertical-align: middle;
  margin: 0 3px;
}
.partners-section .ico.logo-1:hover {
  background-position: -1px -177px;
}
.partners-section .ico.logo-2:hover {
  background-position: -3px -350px;
}
.partners-section .ico.logo-3:hover {
  background-position: 0 -530px;
}
.partners-section .ico.logo-4:hover {
  background-position: 0 -704px;
}
.partners-section .ico.logo-5:hover {
  background-position: 0 -864px;
}

.accordion-section {
  padding: 40px;
  position: relative;
}
.accordion-section header.name-block {
  min-height: 180px;
}
.accordion-section header.name-block h1 {
  padding: 20px 0 0 0;
  font-weight: 400;
  font-size: 15px;
}
.accordion-section h2 {
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-size: 15px;
  z-index: 10;
}
.accordion-section ul {
  position: relative;
  margin: 0;
  padding: 0;
}
.accordion-section ul li {
  margin: 7px 23px;
  color: #339966;
}
.accordion-section ul li a {
  font-size: 14px;
  color: #000;
}
.accordion-section.green-arrow h2:after {
  position: absolute;
  width: 14px;
  height: 12px;
  top: 50%;
  left: -22px;
  margin-top: -6px;
  content: "";
  background: url("../images/icons/arrow-right-green.png") no-repeat 0 0;
}
.accordion-section.black-arrow h2 {
  font-weight: 400;
}
.accordion-section.black-arrow h2:after {
  position: absolute;
  width: 18px;
  height: 12px;
  top: 50%;
  left: -26px;
  margin-top: -6px;
  content: "";
  background: url("../images/icons/arrow-right-black.png") no-repeat 0 0;
}
.accordion-section.black-arrow li {
  color: #000;
}

.popup-container {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 100;
  background-color: #FFF;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 480px;
  /*540*/
  min-height: 360px;
  /*420*/
  padding: 30px;
  border: 1px solid #a6acab;
  -moz-box-shadow: #666666 -3px 3px 12px -2px;
  -webkit-box-shadow: #666666 -3px 3px 12px -2px;
  box-shadow: #666666 -3px 3px 12px -2px;
}
.popup-container .close-popup {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 14px;
  cursor: pointer;
}
.popup-container .popup-img {
  width: 170px;
  height: 170px;
  margin: 5px;
}
.popup-container h1 {
  font-size: 16px;
  margin: 5px 0 10px;
}
.popup-container h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
}
.popup-container p {
  font-size: 12px;
}
.popup-container ul li {
  color: #000;
  font-size: 11px;
  margin: 7px 5px 7px 40px;
  padding: 0 0 0 4px;
}

.img-container {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 100;
  background-color: #FFF;
  box-sizing: border-box;
  width: 455px;
  min-height: 100px;
  padding: 0;
  border: 1px solid #a6acab;
}

.gallery-block {
  text-align: center;
}
.gallery-block .img-item {
  position: relative;
  margin: 25px;
  height: 300px;
  width: 290px;
}
.gallery-block .img-item:hover {
  opacity: 0.9;
}
.gallery-block .img-item:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  -moz-box-shadow: inset black 0 0 3px 3px;
  -webkit-box-shadow: inset black 0 0 3px 3px;
  box-shadow: inset black 0 0 3px 3px;
}
.gallery-block .img-item a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.accordion-section-prize {
  margin: 20px 0;
}
.accordion-section-prize table {
  border-collapse: collapse;
  background-color: #339966;
  width: 100%;
}
.accordion-section-prize table td, .accordion-section-prize table th {
  width: 50%;
  padding: 4px 4px 4px 40px;
  color: #000;
}
.accordion-section-prize table thead tr {
  border-bottom: 1px solid #99ccb3;
  font-weight: 700;
}
.accordion-section-prize table thead tr th {
  padding: 4px 4px 4px 20px;
  color: #FFF;
  text-align: left;
}
.accordion-section-prize table tbody tr:nth-child(2n-1) {
  background-color: #cafbcd;
}
.accordion-section-prize table tbody tr:nth-child(2n) {
  background-color: #dafade;
}

.contact-section {
  padding: 40px;
}
.contact-section .left-side, .contact-section .right-side {
  width: 50%;
}
.contact-section .left-side {
  float: left;
}
.contact-section .right-side {
  float: right;
}
.contact-section .contact-box {
  padding: 20px 0;
  font-size: 14px;
}
.contact-section .contact-box h3 {
  margin: 0 0 15px 0;
  padding: 0;
}
.contact-section .contact-box strong {
  font-size: 120%;
}

.adress-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.adress-section article {
  margin-left: 2%;
  width: 30%;
  text-align: left;
  vertical-align: top;
}
.adress-section article header {
  position: relative;
}
.adress-section article header strong {
  padding: 0 0 0 50px;
}
.adress-section article header .ico {
  position: absolute;
  left: 0;
  top: 50%;
}
.adress-section article header .home {
  margin-top: -17px;
}
.adress-section article header .phone {
  margin-top: -18px;
}
.adress-section article header .mail {
  margin-top: -12px;
}
.adress-section article section {
  padding: 0 0 0 50px;
}

#page-footer .footer-content {
  background-color: #d6d6d6;
  border: 1px solid #a6acab;
  box-sizing: border-box;
  padding: 5px 39px 10px 39px;
}
#page-footer .footer-content ul {
  padding: 0;
}
#page-footer .footer-content ul li:first-child a {
  border: 0;
}
#page-footer .footer-content ul li a {
  border-left: 1px solid #8c8c8c;
  font-size: 12px;
  padding: 2px 10px;
}
#page-footer .footer-content ul li a:hover {
  text-decoration: underline;
}
